<div class="potientPage pt-5">
<div class="container">
  <button class="btn btn-primary mb-3" (click)="toggleAddMode()">Add Patient</button>
  <ng-container *ngIf="addMode">
    <form (ngSubmit)="addPatient(newPatientForm.value)" #newPatientForm="ngForm">
      <div class="row">
        <div class="col-md-2">
          <input type="text" class="form-control" placeholder="Name" name="name" ngModel  required>
          <div class="text-danger" *ngIf="newPatientForm.controls['name'].touched && newPatientForm.controls['name'].hasError('required')">Name is required</div>
        </div>
        <div class="col-md-2">
          <input type="email" class="form-control" placeholder="Email" name="email"  ngModel  required>
          <div class="text-danger" *ngIf="newPatientForm.controls['email'].touched && newPatientForm.controls['email'].hasError('email')">Invalid email format</div>
        </div>
        <div class="col-md-2">
          <input type="password" class="form-control" placeholder="Password" name="password"  ngModel required minlength="8">
          <div class="text-danger" *ngIf="newPatientForm.controls['password'].touched && newPatientForm.controls['password'].hasError('required')">Password is required</div>
          <div class="text-danger" *ngIf="newPatientForm.controls['password'].hasError('minlength')">Password should be at least 8 characters long</div>
        </div>
        <div class="col-md-2">
           <input type="text" class="form-control" placeholder="Gender" name="gender" ngModel  required> 
          <select class="form-control" name="gender" ngModel required>
            <option selected disabled value="">Select Gender</option>
            <option value=1>Female</option>
            <option value=2>Male</option>
          </select>
          <div class="text-danger" *ngIf="newPatientForm.controls['gender'].touched && newPatientForm.controls['gender'].hasError('required')">Gender is required</div>
        </div>
        <div class="col-md-2">
          <input type="date" class="form-control" placeholder="Date of Birth" name="date_of_birth" ngModel required>
          <div class="text-danger" *ngIf="newPatientForm.controls['date_of_birth'].touched && newPatientForm.controls['date_of_birth'].hasError('required')">Date of Birth is required</div>
        </div>
        <div class="col-md-2">
          <input type="text" class="form-control" placeholder="Phone" name="phone_number" ngModel required>
          <div class="text-danger" *ngIf="newPatientForm.controls['phone_number'].touched && newPatientForm.controls['phone_number'].hasError('required')">Phone number is required</div>
        </div>
        <div class="col-md-2">
          <button class="btn btn-success" type="submit">Save</button>
          <button class="btn btn-secondary" type="button" (click)="toggleAddMode()">Cancel</button>
        </div>
      </div>
    </form>
  </ng-container>

  <h2>Patients</h2>

  <table class="table table-striped mt-5">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Patient</th>
        <th scope="col">Email</th>
        <th scope="col">Age</th>
        <th scope="col">Gender</th>
      </tr>
    </thead>
    <tbody *ngIf="drLogged">
      <tr *ngFor="let patient of patients">
        <th scope="row">{{ patient.patient.id }}</th>
        <td>{{ patient.patient.name }}</td>
        <td>{{ patient.patient.email }}</td>
        <td>{{ patient.patient.date_of_birth }}</td>
        <td>{{ patient.patient.gender }}</td>
      </tr>
    </tbody>
    <tbody *ngIf="!drLogged">
      <tr *ngFor="let patient of patients">
        <th scope="row">{{ patient.id }}</th>
        <td>{{ patient.name }}</td>
        <td>{{ patient.email }}</td>
        <td>{{ patient.age }}</td>
        <td>{{ patient.gender }}</td>
      </tr>
    </tbody>
  </table>
</div>
</div>