
<nav>
    <div class="contain">
        <div class="navigation">


                <div class="py-2">
                    <ul class="nav flex-column">
                        <li>
                            <a href="#">
                                <span class="icaons">
                                    <i class="fa-solid fa-hospital"></i>                             </span>
                                <span class="title">Hospital Manageent System </span>
                            </a>
                        </li>

                        <li>
                            <a routerLink="admin" *ngIf="adminLogged">
                                <span class="icaons"><i class="fa fa-home" aria-hidden="true"></i></span>
                                <span class="title">Admin</span>
                            </a>
                        </li>
                        <li *ngIf="!drLogged">
                            <a  routerLink="doctor">
                                <span class="icaons"><i class="fa fa-home" aria-hidden="true"></i></span>
                                <span class="title">Doctor</span>
                            </a>
                        </li>
                        <li *ngIf="drLogged">
                            <a routerLink="doctor/appointments">
                                <span class="icaons"><i class="fa fa-paint-brush" aria-hidden="true"></i></span>
                                <span class="title">Doctor Appointements</span>
                            </a>
                        </li>
                         <!-- <li>
                            <a routerLink="receptionist">
                                <span class="icaons"><i class="fa fa-home" aria-hidden="true"></i></span>
                                <span class="title">Receptionist</span>
                            </a>
                        </li> -->
                        <li>
                            <a routerLink="patient">
                                <span class="icaons"><i class="fa-solid fa-hospital-user"></i></span>
                                <span class="title">Patient</span>
                            </a>
                        </li>
                        <li *ngIf="!drLogged">
                            <a routerLink="room-reservations">

                                <span class="icaons"><i class="fa fa-user" aria-hidden="true"></i></span>
                                <span class="title">Room Reservation</span>
                            </a>
                        </li>
                        <li *ngIf="!drLogged">
                            <a routerLink="reservations">
                                <span class="icaons"><i class="fa fa-user" aria-hidden="true"></i></span>
                                <span class="title">Appointement Reservation</span>
                            </a>
                        </li>
                        <li *ngIf="!drLogged">
                            <a routerLink="departments">

                                <span class="icaons"><i class="fa fa-paint-brush" aria-hidden="true"></i></span>
                                <span class="title">Departments</span>
                            </a>
                        </li>

                        <li *ngIf="!drLogged">
                            <a routerLink="rooms">
                                <span class="icaons"><i class="fa fa-paint-brush" aria-hidden="true"></i></span>
                                <span class="title">Rooms</span>
                            </a>
                        </li>
                        <!--
                        <li>
                            <a href="#">
                                <span class="icaons"><i class="fa fa-paint-brush" aria-hidden="true"></i></span>
                                <span class="title">Shifts</span>
                            </a>
                        </li> -->


                    </ul>
                </div>
            </div>

        </div>
</nav>


<div class="main">
    <div class="topbar">
        <div (click)="showSideBar()" class="toggle">
            <i class="fa-solid fa-sliders"></i>
        </div>
        <!-- <div class="search">
            <label for="">
                <input type="text" placeholder="Search BY Role">
                <i class="fa fa-search" aria-hidden="true"></i>
            </label>
        </div> -->
        <div class="account ">
          
            
            <div class="user">
                <img src="../../../assets/images/user_ahmed@gmail.com.jpeg" alt="img">
            
    
            </div>
            <h5 class="pt-2">{{ username }}</h5>
            <a routerLink="/login" class="nav-link " (click)="logout()">Logout</a>
        </div>
        
    </div>
</div>


<div class="routerOutlet">
    <!-- <router-outlet> </router-outlet> -->
</div>

