<div class="main">
    <div class="form-box container w-50">
        <h2>ROOM RESERVATION </h2>
        <form class="row g-3">
            <div class="form-group">
                <label for="inputPatient" class="form-label">Choose Patient</label>
                <select class="form-select" aria-label="Default select example">
                    <option selected>Select Patient Name</option>
                    <option value="1">Ahmed</option>
                    <option value="2">Mohamed</option>
                    <option value="3">Ali</option>
                </select>
            </div>
            <div class="form-group">
                <label for="inputDate" class="form-label">Reservation Date</label>
                <input class="form-control" type="date" [(ngModel)]="selectedDate">
            </div>
            <div class="form-group">
                <label for="inputTIme" class="form-label">Time</label>
                <input class="form-control" type="time" [(ngModel)]="selectedHour" (change)="handleHourChange($event)">
            </div>
            <div class="form-group">
                <label for="inputRoom" class="form-label">Choose Room</label>
                <select class="form-select" aria-label="Default select example">
                    <option selected>Select Room</option>
                    <option value="1">Room 1</option>
                    <option value="2">Room 2</option>
                    <option value="3">Room 3</option>
                </select>
            </div>
            <div class="form-group">
                <label for="inputPassword4" class="form-label">Price</label>
                <input class="form-select" class="form-control">
            </div>
            <div class="form-group">
                <button type="submit" class="btn edit-btn">Reserve Room</button>
            </div>
        </form>
    </div>
</div>