
<div class="background">
  <section class="container">
    <div class="login-container">
        <div class="circle circle-one"></div>
        <!-- <h1 class="title">Welcome Back</h1> -->
        <div class="form-container">
            <!-- <img src="https://raw.githubusercontent.com/hicodersofficial/glassmorphism-login-form/master/assets/illustration.png" alt="illustration" class="illustration" /> -->
            <div class="form-box">
            <h1 class="opacity">LOGIN</h1>
            <form class="form-group" [formGroup]="form"  (submit)="submit()">
              <div class="form-group">
                <label for="email">Email</label>
                <input type="email" class="form-control" formControlName="email" id="InputEmail" aria-describedby="emailHelp">
                <div *ngIf="form.controls['email'].errors&& form.controls['email'].touched ">
                  <span *ngIf="form.controls['email'].errors?.['required']!==undefined" class="text-danger">email is required</span>
                  <span *ngIf="!form.controls['email'].errors?.['required'] && form.controls['email'].errors!=null " class="text-danger">Email not valid </span>
                </div>
              </div>

              <div class="form-group">
                <label for="password">Password</label>
                <input type="password" formControlName="password" class="form-control" id="InputPassword">
                  <div *ngIf="form.controls['password'].errors&& form.controls['password'].touched ">
                  <span *ngIf="form.controls['password'].errors?.['required']!==undefined" class="text-danger">password is required</span>
                  <span *ngIf="!form.controls['password'].errors?.['required'] && form.controls['password'].errors!=null " class="text-danger">Password must conatin 8 numbers </span>
                 </div>
                </div>
                <button type="submit" class="opacity">SUBMIT</button>
            </form>
            </div>
        </div>
        <div class="circle circle-two"></div>
  
    </div>
    <div class="theme-btn-container"></div>
  </section>
</div>




